<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-5p] %c{1}#%M()@%L %x - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/Users/Administrator/Desktop/log/loyintean.log" />
		<param name="append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d[%-5p][%t] %c#%M()@%L %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="ASYNC_FILE" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="100000" />
		<param name="Blocking" value="false" />
		<appender-ref ref="FILE" />
	</appender>


	<logger name="net.loyintean" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNC_FILE" />
	</logger>

	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>